*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

/* ========================================================
General Header Styles
======================================================== */

.header-section {
  background-color: #2e323f;
}

.header-box {
  padding: 1em 1em 0em 1em;
}

.header-box-visible {
  padding: 1em 1em 1.5em 1em;
}

/* ========================================================
Hamburger Menu Styles
======================================================== */

.nav-toggle {
  position: absolute;
  left: 0;
  z-index: 2;
  transition: opacity 250ms ease;
  cursor: pointer;
  margin-left: 5%;
  border: 0;
  border-radius: 50%;
  background: #2e323f;
  padding: 0em;
  width: 3em;
  height: 3em;
  color: white;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  position: relative;
  width: 50%;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  background: white;
  height: 3px;
}

.hamburger::before,
.hamburger::after {
  width: 100%;
  content: "";
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* ========================================================
Logo and Navigation Styles
======================================================== */

.crl-logo {
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 3rem;
}

.nav {
  visibility: hidden;
}

.nav-visible {
  visibility: visible;
  margin-top: 1.5rem;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.signin-link {
  font-size: 0.95rem;
}

.signup-link {
  font-size: 0.95rem;
}

.nav-link:focus,
.nav-link:hover {
  opacity: 0.75;
}

.nav-item + .nav-item {
  margin-left: 1rem;
}

.signup-link {
  display: block;
  border-radius: 20px;
  background-color: #a59678;
  padding: 0.25em 1em 0.25em 1em;
  color: #ffffff;
}

@media (min-width: 700px) {
  .nav-link {
    font-size: 1.125rem;
  }

  .signin-link {
    font-size: 1.125rem;
  }

  .signup-link {
    font-size: 1.125rem;
  }
}

@media (min-width: 1000px) {
  .header-box {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1em 1.5em 1em;
  }

  .nav-toggle {
    display: none;
  }

  .crl-logo {
    margin: 0;
  }

  .nav {
    visibility: visible;
  }

  .nav-item + .nav-item {
    margin-left: 3rem;
  }

  .nav-link {
    font-size: 1.125rem;
  }

  .signin-link {
    font-size: 1.125rem;
  }

  .signup-link {
    font-size: 1.125rem;
  }
}

/* ========================================================
Hero Section Styles
======================================================== */

.hero-section {
  background-color: #3b4050;
}

.hero-box {
  padding: 1.25em 1em 1.25em 1em;
}

.hero-title {
  margin: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.hero-title-diff {
  color: #a59678;
  font-size: 2.2rem;
}

.hero-desc {
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 600px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  border: 0;
  border-radius: 25px;
  background-color: #a59678;
  padding: 0.5em 1.25em 0.5em 1.25em;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.15rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

@media (min-width: 1000px) {
  .hero-box {
    display: flex;
    justify-content: space-between;
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .hero-left {
    width: 45%;
  }

  .hero-title {
    font-size: 5rem;
    line-height: 5rem;
    text-align: left;
  }

  .hero-title-diff {
    font-size: 5rem;
  }

  .hero-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
  }

  .hero-desc {
    margin: 1rem 0 1rem 0;
    max-width: 95%;
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: left;
  }

  .hero-btn {
    margin: 0;
  }
}

/* ========================================================
Offer Section Styles
======================================================== */

.offer-section {
  background-color: #f1f1f1;
}

.offer-box {
  padding: 1em;
}

.offer-item {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}

.offer-title {
  margin: 0;
  color: #a59678;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

.offer-desc {
  line-height: 1.75rem;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 700px) {
  .offer-box {
    display: flex;
    justify-content: space-between;
  }

  .offer-item {
    width: 32%;
  }
}

@media (min-width: 1000px) {
  .offer-box {
    padding-top: 6em;
    padding-bottom: 6em;
  }

  .offer-item {
    width: 25%;
  }
}

/* ========================================================
Info Section Styles
======================================================== */

.info-box {
  padding: 1em;
}

.info-left-title {
  margin: 0;
  color: #a59678;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}

.info-left-text {
  line-height: 1.75rem;
  font-family: "Montserrat", sans-serif;
}

.info-right-item {
  background-color: #3b4050;
  padding: 1em;
  text-align: center;
}

.info-right-item + .info-right-item {
  margin-top: 1rem;
}

.info-right-item-title {
  color: #ffffff;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}

.info-right-item-text {
  color: #ffffff;
  line-height: 1.75rem;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 700px) {
  .info-img {
    max-height: 200px;
    object-fit: cover;
  }

  .info-right {
    display: flex;
    justify-content: space-between;
  }

  .info-right-item + .info-right-item {
    margin-top: 0;
    margin-left: 1rem;
  }

  .info-right-item-title {
    margin: 0;
  }
}

@media (min-width: 1000px) {
  .info-box {
    display: flex;
    justify-content: space-around;
    padding-top: 6em;
    padding-bottom: 6em;
  }

  .info-img {
    max-height: none;
  }

  .info-left {
    width: 48%;
  }

  .info-right {
    display: block;
    width: 28%;
  }

  .info-right-item {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .info-right-item + .info-right-item {
    margin-top: 1rem;
    margin-left: 0;
  }
}

/* ========================================================
Footer Section Styles
======================================================== */

.footer-section {
  background-color: #3b4050;
}

.footer-box {
  padding: 1.5em 1em 2em 1em;
}

.footer-title {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.footer-text-box {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}

.footer-text-title,
.footer-link-group-title {
  color: #a59678;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}

.footer-text {
  color: #ffffff;
  line-height: 1.75rem;
  font-family: "Montserrat", sans-serif;
}

.footer-link-group {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}

.footer-link-group-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-link-group-link {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.footer-link-group-item + .footer-link-group-item {
  margin-top: 1rem;
}

.footer-link-group-link:hover,
.footer-link-group-link:focus {
  opacity: 0.75;
}

@media (min-width: 700px) {
  .footer-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .footer-content-box {
    display: flex;
    justify-content: space-between;
  }

  .footer-text-box {
    width: 26%;
  }

  .footer-text-title,
  .footer-text {
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .footer-box {
    padding-bottom: 7em;
  }

  .footer-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3.5rem;
  }

  .footer-link-group {
    text-align: left;
  }

  .footer-text-box {
    width: 30%;
  }
}
